    <img src=<%= item.images_url %>>
    <p> <%= item.title %> </p>
    <p> <%= item.author %> </p>
    <p> <%= item.description %> </p>
    <p> <%= item.isbn %> </p>
    <p> <%= item.bookshelf %> </p>

