<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../../layout/head') %>
</head>
<body>
  <header><%- include('../../layout/header') %></header>

  <main>
      <% results.forEach((item,id) => { %>
        <section class="bookDisplay">
        <%- include('../books/detail',{item:item, id:id}) %>
        <button 
            value = "<%=id %>" 
            class="dropForm"
            type="button"
            name="select">
              Select this BooK
          </button>
        </section>  
        <%- include('../books/edit', {id: id, item: item}) %>  
      <% }) %>


  </main>
  <footer>
    <%- include('../../layout/footer') %>
  </footer>
</body>
</html>