<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../../layout/head') %>
</head>
<body>
  <header><%- include('../../layout/header') %></header>

  <main>
      <% results.forEach((item,id) => { %>
        <section class="bookDisplay">
        <%- include('../books/detail',{item:item, id:id}) %>
        <button 
            value = "<%=id %>" 
            class="dropForm"
            type="button"
            name="select">
              Select this BooK
          </button>
        </section>  
        <form
          id = '<%=id %>'
          class='hide'
          action="/books"
          method="post">
          <input
          type="text"
          name="images_url"
          value="<%= item.images_url %>"
           />
            <input
              type="text"
              name="title"
              value="<%= item.title %>"
              required />
            <input
              type="text"
              name="authors"
              value="<%= item.authors %>"
              required />
            <input
              type="text"
              name="isbn"
              value="<%= item.isbn %>" />
            <textarea 
              rows ="5"
              cols="30"
              name="description"
              value = "<%=item.description %>">
              <%=item.description %>
            </textarea>
            <input type="text" name="bookshelf" placeholder=" Enter a bookshelf name" required />
            <button class = "show" type="submit">Add to database</button>
        </form>  
      <% }) %>


  </main>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>  
  <script src="./js/app.js"></script>
</body>
</html>