<!DOCTYPE html>
<html lang="en">
<head>
   <%- include('../layout/head') %>
</head>
<body>
  
  <header>
      <%- include('../layout/header') %>
      <p class="totalBook"> Total number of books:<%= results.length%></p>
  </header>

  <main>
    <% results.forEach((item,idx) => { %>
      <section class="bookDisplay">
          <img class="bookCover" src="<%= item.images_url %>">
          <p> <%= item.title %> </p>
          <p> <%= item.authors %> </p>
      <button type="button" value="<%= results[idx].id %>" class="viewDetail" name="view">
        View Details
      </button>  
      </section>
    <% }) %>
  </main>
  
</body>
<footer>
  <%- include('../layout/footer') %>
</footer>

</html>