<!DOCTYPE html>
<html lang="en">
<head>
   <%- include('../layout/head') %>
</head>
<body>
  
  <header>
      <%- include('../layout/header') %>
  </header>

  <main>
    <p> Total number of books:<%= results.length%></p>
    <% results.forEach(item => { %>
      <section class="bookDisplay">
      <%- include('./books/detail',{item:item}) %>
      </section>
    <% }) %>
  </main>
  
</body>
<footer>
  <%- include('../layout/footer') %>
</footer>

</html>